.header {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gray-700);
  padding: 1rem;
  min-height: 12.5rem;
}

.main {
  padding: 0 1rem 1rem;
}

.container {
  max-width: 46rem;
  margin: 0 auto;
}

.search {
  display: flex;
  gap: 0.5rem;
  margin: -1.6875rem 0 4rem;
  min-height: 3.375rem;
}

.search input {
  flex: 1;
  padding: 1rem;
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  background: var(--gray-500);
  outline: transparent;

  transition: border 0.1s;
}

.search input:focus {
  border: 1px solid var(--purple-dark);
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  gap: 0.5rem;
  color: var(--gray-100);
  font-weight: bold;
  padding: 1rem;
  border-radius: 8px;
  background: var(--blue-dark);
  cursor: pointer;
  transition: background 0.1s;
}

.search button:hover {
  background: var(--blue);
}

.resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.tasks,
.complete {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasks p,
.complete p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: bold;
}

.tasks p {
  color: var(--blue);
}

.complete p {
  color: var(--purple);
}

.tasks span,
.complete span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-400);
  border-radius: 20px;
  color: var(--gray-200);
  font-weight: bold;
  height: 1.1875rem;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.card {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 0.75rem;
  border-radius: 0.5rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  transition: border 0.3s ease-out, box-shadow 0.3s ease-out;
}

.cardChecked {
  box-shadow: none;
  border-color: var(--gray-500);
}

.card + .card {
  margin-top: 0.75rem;
}

.card input[type='checkbox'] {
  position: absolute;
  clip-path: inset(100%);
  outline: 0;
}

.check {
  padding: 0.1875rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}

.card input[type='checkbox']:focus-visible + .check {
  outline: 2px solid;
}

.check .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid var(--blue);
  background: transparent;
  cursor: pointer;

  transition: all 0.1s;
}

.check .checkbox:hover {
  border-color: var(--blue-dark);
}

.check .checkbox svg {
  visibility: hidden;
  color: var(--white);
}

.card input[type='checkbox']:checked + .check .checkbox {
  border-color: var(--purple-dark);
  background: var(--purple-dark);
}

.card input[type='checkbox']:checked + .check .checkbox:hover {
  border-color: var(--purple);
  background: var(--purple);
}

.card input[type='checkbox']:checked + .check .checkbox svg {
  visibility: visible;
}

.card p {
  flex: 1;
  transition: text-decoration 0.3s ease-out, color 0.3s ease-out;
}

.card input[type='checkbox']:checked + .check + p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.card button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;
  border-radius: 4px;
  border: 0;
  color: var(--gray-300);
  background: transparent;
  cursor: pointer;
  font-size: 0;

  transition: background 0.1s, color 0.1s;
}

.card button:hover {
  color: var(--danger);
  background: var(--gray-400);
}
