@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input,
textarea,
button {
  font-family: theme('fontFamily.base');
  font-weight: theme('fontWeight.normal');
  font-size: theme('fontSize.lg');
}
